.flex-container{
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

/* 1) We have taken a container ui and displayed as flex
   2) To add space around we are adding justify-content: space around.
   3) Flex -Direction : row & flex-wrap: row=> flex-flow: row-wrap

*/

.flex{
    width:200px;
    height:150px;
    background-color: coral;
    color: white;
    font-size: 3em;
    font-weight: bold;
    border: 2px solid coral;
    padding: 5px;
    margin-top: 10px;
    line-height: 150px;
    text-align: center;
}


