body{
    background: #EBEBEB;
    
}

.main{
    width: 800px;
    height: 600px;
    background: whitesmoke;
    box-shadow: 3px 3px 3px 3px #C0C0C0;
    display: block;
    margin: 12% auto;
    padding-left: 5%;


}

.footer{
    display: flex;   
}

h1{
    padding-top: 58px;
}

.sub{
    color: #00b4d8;
    margin-top: -20px;
    padding-bottom: 10px;
    
}

.price{
    font-weight: bold;
}


.btn{
    margin-top: 10px;
    font-weight:bold;
    font-size: 12px;
    margin-left: 120px;
    border: solid 1px black;
    height: 30px;
    width: 70px;
    border-radius: 30px;
    background: white;

}

.side{
    display: flex;
}

.content{
    margin-top: -20px;
    margin-left:30px;
}

.artist{
    display: flex;
    justify-content: space-between;
}

